<template lang="html">
  <div class="container">
      <router-view></router-view>
  </div>
</template>

<script>
export default {
    //Change the page title
    watch: {
      '$route':{
        handler: (to, from) => {
          document.title = to.meta.title || 'Your Website'
        },
        immediate: true
      }
    },
}
</script>

<style>

</style>