<template>
  <div class="container d-flex justify-content-md-center align-items-center vh-100">
    <div class="card mx-auto w-50">
      <div class="card-header h4 text-center mb-2">Log in</div>
      <div class="card-body">
        <form @submit="login">
          <div class="grey-text">
            <mdb-input v-model="loginForm.email" name="email" label="Email" icon="envelope" type="email" required autofocus/>
            <mdb-input v-model="loginForm.password" name="password" label="Password" icon="lock" type="password" required/>
          </div>
          <div class="text-center">
            <button class="btn btn-default" type="submit">Login</button>
          </div>
        </form>
        <div class="text-center mt-3">
          <p>Don't have an account? <router-link to="/signup">Create one.</router-link></p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { mdbInput } from 'mdbvue';
  import axios from 'axios';
  import swal from 'sweetalert';

  export default {
      name: 'Login',
      components: {
        mdbInput
      },
      data() {
        return {
          loginForm: {
            email: '',
            password: ''
          }
        }
      },
      methods: {
        login(e) {
          console.log('login vue');
          e.preventDefault();
          var loginData = {
            email: this.loginForm.email,
            password: this.loginForm.password
          };
          this.axios.post('/login', loginData)
            .then(res => {
              let token = res.data.token;
              localStorage.setItem("jwt", token);
              if (token) {
                this.$router.push('/home');
                swal("Success", "Login successful", "success", {timer: 2000});
              }
            }).catch((error) => {
              swal("Login failed", "Check authentication credentials.", "error");
            })
        }
      }
  }
</script>