<template lang="html">
    <div>
        <login></login>
    </div>
</template>
<script>
import Login from '../components/auth/Login.vue'

export default {
    name: 'Index',
        components: {
            Login
    }
}
</script>